---
import Layout from "../layouts/Layout.astro";
import { authors } from "../data/authors.json";
---

<Layout
	title={`Proposta de aplicativo para comercialização de produtos
		de agricultura orgânica`}
	current="home"
>
	<section class="section">
		<div class="wrapper">
			<div class="region">
				<h2>Autores</h2>
			</div>
			<ul role="list" class="flow">
				{
					authors.map((author) => (
						<li>
							<div>{author.name}</div>
							<a href={`mailto:${author.email}`}>
								{author.email}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</section>
</Layout>
