---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title={`Proposta de aplicativo para comercialização de produtos
		de agricultura orgânica (Visualização do pôster)`}
	current="home"
>
	<embed
		src="/poster_ihc2023.pdf"
		type="application/pdf"
		width="100%"
		height="100vh"
	/>
	<noembed>
		<p> Não foi possível carregar o PDF. <a download class="button"
		href="/poster_ihc2023.pdf"> Baixar versão PDF </a> </p>
	</noembed>
</Layout>
