---
import Marquee from "./Marquee.jsx";
import AnimationControl from "./AnimationControl.jsx";
import skills from "../data/authors.json";
import Icon from "./icons/Icon.jsx";

import { icons } from "./icons/icons";

export interface Props {
	current?: string;
}

const { current } = Astro.props;
const isCurrent = (page: string): "page" | undefined =>
	current == page ? "page" : undefined;
---
<header class="site-head">
	<div class="head__inner">
		<div class="wrapper">
			<h1>Proposta de aplicativo para comercialização de produtos
				de agricultura orgânica</h1>
		</div>
	</div>
</header>
